<h1>This is the home page</h1>

<h3>This is a second test line of text</h3>

<li>This is the first list item that I created</li>
<ol>This is the second tabbed item</ol>
<br>
<br>


<%=link_to 'About', about_path %>